@import "tailwindcss";

@font-face {
  font-family: Playlist;
  src: url("src/assets/fonts/Playlist\ Script.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-playlist: Playlist;
  --font-poppins: Poppins;
  --font-roboto: Roboto;
}
