@import "tailwindcss";

@font-face {
  font-family: "Playlist";
  src: url("@/assets/fonts/Playlist-Script.woff2") format("woff2"),
    url("@/assets/fonts/Playlist-Script.woff") format("woff")
      url("@/assets/fonts/Playlist\ Script.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-playlist: Playlist;
}
